$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 300px;
  height: 200px;
  

  label {
    display: flex;
    margin: 1.3rem 0;
    font-size: 15px;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .20rem .32rem;
        background: #d6edfa;
        margin-left: 12px;

        &:hover, &.active {
          background: #fff;
        }
      }
    }
  }

  .url-input-bar {
    color: #efefef;
    margin-right: 10px;
    font-size: 20px;
    padding-left: 25px;
  }
}
