$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 250px;

  label {
    display: flex;
    margin: 1.3rem 0;
    font-size: 15px;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .20rem .32rem;
        background: #d6edfa;

        &:hover, &.active {
          background: #fff;
        }
      }
    }
  }
}
