$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 400px;
  height: 200px;
  margin-right: 13rem;

  label {
    display: flex;
    margin: 1.3rem 0;
    font-size: 15px;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .20rem .32rem;
        background: #d6edfa;
        margin-left: 35px;

        &:hover, &.active {
          background: #fff;
        }
      }
    }
  }

  .url-input-bar {
    color: #efefef;
    margin-right: 5px;
    font-size: 20px;
  }
}

.form-input {
  width: 800px;
}
