$backgroundColor: #647C90;
$secondaryColor: darken($backgroundColor, 19);


header {
    background: $secondaryColor;
    border-bottom: 1px solid #eee;
    color: #eee;
    padding: 0;
    margin: 0;
    text-align: center;
  }