$backgroundColor: #647C90;

$secondaryColor: darken($backgroundColor, 19);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColor;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  // footer {
  //   background: $secondaryColor;
  //   border-top: 1px solid #eee;
  //   padding: 1em 3em;
  //   margin: 0;
  // }

  // header {
  //   background: $secondaryColor;
  //   border-bottom: 1px solid #eee;
  //   color: #eee;
  //   padding: 0;
  //   margin: 0;
  //   text-align: center;
  // }

  .request-method {
    height: 65px;
    text-align: center;
    padding-top: 18px;
  }

  .search-input {
    margin-bottom: 50px;
    background-color: #edeeeb;
    width: 250px;
    height: 110px;
    margin-left: 3rem;
    margin-top: 3rem;
    text-align: center;
    padding-bottom: 30px;
  }

  .request-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-right: 18rem;
  }
}